<div class="container">


  <div class="teams-title">
    <h1>Teams</h1>
    <h4>Explore the teams that other players have created. You can request to join your favorite.</h4>
  </div>

  <div class="teams-group-filter-and-card">
    <div class="teams-list">
      <%# <div class="top-teams-filter"> %>

        <div class="teams-filter">
          <H6>Use the filters to find your <br> favorite team.</H6>
          <form id="form-city">
            <input id="filter-city" type="text" class="form-control" placeholder="Enter your city.">
          </form>
          <br>
          <div id="apply-btn">
            <button class="btn btn-ghost" type="button" id="apply">Apply</button>
          </div>
        </div>

        <div class="top-ranked">
          <div class="container">
            <div class="top-ranked-header">
              <h3><%= image_tag "ball-logo.svg" %> TOP RANKED</h3>
              <h6>Games won</h6>
            </div>
            <% order = @teams.order(team_wins: :desc).limit(5) %>
              <% order.each_with_index do |team, index| %>
                <div class="top5">
                  <h6><%= index + 1 %> <%= team.team_name %></h6>
                  <h6><%= team.team_wins %></h6>
                </div>
                <br>
              <% end %>
          </div>
          <div class="btn-see-all">

            <button class="btn btn-ghost" type="button" id="SeeAll">See All</button>
          </div>


        </div>

      <%# </div> %>
    </div>

    <div class="all-teams-cards">
      <% @teams.each do |team| %>
        <div class="cards-teams">
          <div class="logo-teams-cards">
            <img src=<%= team.team_logo%> />
          </div>
          <div class="card-teams-infos">
            <h3><%= team.team_name.titleize %></h3>
            <p><%= team.country %> - <%= team.city %></p>
            <a><%= link_to "View team info", team_path(team)%></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="or">
  <% if user_signed_in? %>
      <% team = Team.find_by(user: current_user) %>
        <% if team != nil %>
          <div class="btn-CreateTeam">
            <%= link_to "View your team", team_path(team), class: "btn btn-ghost", id:"Create-Team" %>
          </div>
        <% else %>
          <h5>Or if you want to</h5>
          <h3>Create a new team with your friends</h3>
      <% team = Team.find_by(user: current_user) %>
          <div class="btn-CreateTeam">
            <button onclick="window.location.href='/teams/new'" class="btn btn-ghost" type="button" id="Create-Team">Create Team</button>
          </div>
        <% end %>
    <% else %>
    <h5>Or if you want to</h5>
    <h3>Create a new team with your friends</h3>
      <div class="btn-CreateTeam">
        <button onclick="window.location.href='/users/sign_in'" class="btn btn-ghost" type="button" id="Create-Team">Create Team</button>
      </div>
  <% end %>
</div>
