<h1>Teams#index</h1>
<p>Find me in app/views/teams/index.html.erb</p>
<% @teams.each do |team| %>
  <div class= "mb-5">
    <h2><%= team.team_name %></h2>
    <h3><%= team.country %></h3>
    <h3><%= team.city %></h3>
    <p><%= link_to "View team info", team_path(team)%></p>
  </div>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
