<div class="banner-logo-team">
  <img class="banner-team" src= <%=@team.team_banner%> alt="banner">
  <div class="logo-team">
  <img src=<%=@team.team_logo%> alt="logo">
  </div>
</div>

<div class="container">
<div class="team-title">
    <h2><%= @team.team_name.capitalize %></h2>
    <div class="team-btn">
      <% if user_signed_in? %>
        <% captain_team = Team.find_by(user: current_user) %>
          <% if captain_team != nil %>
            <% if captain_team.id == @team.id %>
              <%= link_to 'Edit', root_path, type:"button", class:"btn btn-primary" %>
            <% else %>
              <%= link_to 'Challenge', new_team_request_path(@team), type:"button", class:"btn btn-primary" %>
            <% end %>
          <% else %>
            <% membership = Membership.all.where(user: current_user) %>
            <%# @team.memberships.find_by(user_id:current_user.id) %>
            <%# @team.memberships.include? current_user.id  %>
            <% if membership.exists? %>
              <% if membership[0].status %>
              <p><%= link_to "Leave team", team_membership_path(@team, membership[0]), method: :delete %></p>
              <% else %>
              <p><%= link_to "Cancel request", team_membership_path(@team, membership[0]), method: :delete %></p>
              <% end %>
            <% else %>
            <p><%= link_to "Send request", new_team_membership_path(@team), method: :get %></p>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <h5><%= @team.country %></h5>
  <p><%= @team.city %></p>
</div>

<div class="team-stats">
  <h3>Wins:<%= @team.team_wins %></h3>
  <h3>Defeats:<%= @team.team_defeats %></h3>
  <h3>Draws:<%= @team.team_draws %></h3>
</div>


<div class="team-players">
  <p><%= @team.user.first_name %></p>
  <p><%= @team.user.last_name %></p>
  <p><%= @team.user.avatar %></p>
<% players = @team.memberships.where(status: true)%>
<% players.each do |player| %>
  <p><%= player.user.first_name %></p>
  <p><%= player.user.last_name %></p>
  <p><%= player.user.avatar %></p>
<% end %>
</div>
</div>



<%= link_to 'Go back', root_path, type:"button", class:"btn btn-light" %>
