<div class="show-team-banner">
  <img src=<%=@team.team_banner%> alt="banner-team">
  <div class="show-team-logo">
    <img src=<%=@team.team_logo%> alt="logo-team">
  </div>
</div>


<div class="container show-teams-infos">

  <div class="show-teams-description">
    <div class="show-teams-intro">
      <h2><%= @team.team_name.capitalize %></h2>
      <h4><%= @team.country %> - <%= @team.city %></h4>
      <p><%= @team.description %></p>

          <%= link_to "Request to join" %>
          <%= link_to "Challenge" %>
    </div>
    <div class="show-teams-more">
      <h5>Captain</h5>
      <h3><%= @team.user.first_name %> <%= @team.user.last_name %></h3>
      <h5>Total games won</h5>
      <h3><%= @team.team_wins %></h3>
    </div>
  </div>

  <div class="show-teams-games">
    <div class="last-five-games">
      <h3>Last five games</h3>
    </div>
    <div class="next-game">
      <h3>Next game</h3>
    </div>
  </div>

</div>

  <div class="show-team-h2">
    <h2>Team players</h2>
  </div>

  <div class="container show-teams-players">

  <div class="show-players-cards">
    <% players = @team.memberships.where(status: true)%>
      <% players.each do |player| %>
        <div class="show-player-card">
          <div class="show-player-avatar">
            <% if player.user.avatar != nil %>
              <img src=<%= player.user.avatar %> />
              <% else %>
                <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg">
            <% end %>
          </div>
          <div class="show-player-infos">
            <h3><%= player.user.first_name %> <%= player.user.last_name %></h3>
            <p><%= player.user.username %></p>
          </div>
          <div class="link-view-player">
            <a><%= link_to "View player info" %></a>
          </div>
        </div>
      <% end %>
    </div>





</div>
