<div class="show-team-banner">
  <img src=<%=@team.team_banner%> alt="banner-team">
  <div class="show-team-logo">
    <img src=<%=@team.team_logo%> alt="logo-team">
  </div>
</div>


<div class="container show-teams-infos">

  <div class="show-teams-description">
    <div class="show-teams-intro">
      <h2><%= @team.team_name.capitalize %></h2>
      <h4><%= @team.country %> - <%= @team.city %></h4>
      <p><%= @team.description %></p>
          <% if user_signed_in? %>
        <% captain_team = Team.find_by(user: current_user) %>
        <% if captain_team != nil %>
          <% if captain_team.id == @team.id %>
            <%= link_to 'Edit', root_path, type:"button"%>
          <% else %>
        <% membership = Membership.all.where(user: current_user).and(Membership.all.where(team: @team)) %>
        <% if membership.exists? %>
          <% if membership[0].status %>
            <%= link_to "Leave team", team_membership_path(@team, membership[0]), method: :delete, type:"button"%>
          <% else %>
            <%= link_to "Cancel request", team_membership_path(@team, membership[0]), method: :delete, type:"button" %>
          <% end %>
               <% else %>
              <%= link_to "Send request", new_team_membership_path(@team), method: :get, type:"button"%>
              <%= link_to 'Challenge', new_team_request_path(@team) %>
              <% end %>
            <% end %>
          <% else %>
            <% membership = Membership.all.where(user: current_user).and(Membership.all.where(team: @team)) %>
            <%# @team.memberships.find_by(user_id:current_user.id) %>
            <%# @team.memberships.include? current_user.id  %>
            <% if membership.exists? %>
              <% if membership[0].status %>
              <%= link_to "Leave team", team_membership_path(@team, membership[0]), method: :delete %>
              <% else %>
              <%= link_to "Cancel request", team_membership_path(@team, membership[0]), method: :delete %>
              <% end %>
            <% else %>
            <%= link_to "Send request", new_team_membership_path(@team), method: :get %>
            <% end %>
          <% end %>
          <% end %>
    </div>
    <div class="show-teams-more">
      <h5>Captain</h5>
      <h3><%= @team.user.first_name %> <%= @team.user.last_name %></h3>
    </div>
  </div>

  <div class="show-teams-games">
    <div class="last-five-games">
       <% @matches = Match.all.where(home_team: @team) %>
    <% if @matches != nil %>
      <h3>Last five games</h3>
      <div class="last5-title">
        <h6 id="opponent">Opponent</h6>
        <h6 id="date">Date</h6>
        <h6 id="score">Score</h6>
        <h6 id="results">Result</h6>
      </div>
      <% order_match = @matches.order(:match_date).limit(5) %>
      <% order_match.each do |match| %>
      <div class="last5">
        <p><%= match.away_team.team_name %></p>
        <p><%= match.match_date.to_date %></p>
        <p><%= match.home_goals %> - <%= match.away_goals %></p>
        <p id="result">Won</p>
      </div>
      <% end %>
    <% end %>
    </div>
    <div class="team-stats">
      <h3>Team statistics</h3>
      <div class="team-stats-title">
        <h6>Wins</h6>
        <h6>Draws</h6>
        <h6>Defeats</h6>
      </div>
      <div class="team-stats-results">
        <p><%= @team.team_wins %></p>
        <p><%= @team.team_draws %></p>
        <p><%= @team.team_defeats %></p>
      </div>
    </div>
  </div>

</div>

  <div class="show-team-h2">
    <h2>Team players</h2>
  </div>

  <div class="container show-teams-players">

  <div class="show-players-cards">
    <% players = @team.memberships.where(status: true)%>
      <% players.each do |player| %>
        <div class="show-player-card">
          <div class="show-player-avatar">
            <% if player.user.avatar != nil %>
              <img src=<%= player.user.avatar %> />
              <% else %>
                <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg">
            <% end %>
          </div>
          <div class="show-player-infos">
            <h3><%= player.user.first_name %> <%= player.user.last_name %></h3>
            <p><%= player.user.username %></p>
          </div>
          <div class="link-view-player">
            <a><%= link_to "View player info", one_player_path(player.user.id) %></a>
          </div>
        </div>
      <% end %>
    </div>
</div>
