  <div class="container players-title">
    <h1>Players</h1>
    <h4>Explore all our players.</h4>
  </div>

<div class="container players-filter">

  <div class="player-filter">
    <H6>Use the filters to find <br> players in your city</H6>
    <form id="form-city">
      <input id="filter-city" type="text" class="form-control" placeholder="Your city.">
    </form>
    <br>
    <div id="apply-btn">
      <button class="btn btn-ghost" type="button" id="apply">Apply</button>
    </div>
  </div>
  <div class="container players-container">
    <% @players.each do |player| %>
      <section class="mx-auto my-5" style="max-width: 23rem;">
        <div class="card testimonial-card-player mt-2 mb-3">
          <div class="card-up-player aqua-gradient">
          </div>
          <div class="avatar-player mx-auto white">
            <% if player.photo.attached? %>
              <img src=<%= cl_image_path player.photo.key, height: 400, width: 400, crop: :thumb, gravity: :face %> class="rounded-circle img-fluid" alt="avatar">
            <% else %>
              <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg" class="rounded-circle img-fluid" alt="avatar">
            <% end %>
          </div>
          <div id="card-body-player">
            <h4 class="card-title-player font-weight-bold"><%=player.first_name %> <%=player.last_name %></h4>
            <h5><%=player.username %></h5>
            <hr>
            <p><%= player.age %></p>
            <hr>
            <p><%=player.country%></p>
            <hr>
            <p><%= player.email%></p>
            <% if user_signed_in? %>
            <%= simple_form_for([player, Contract.new]) do |f| %>
              <%= f.input :status, value: false, as: :hidden %>
              <%= f.input :team, value: current_user.teams.last, as: :hidden %>
              <%= f.input :user, value: player, as: :hidden %>
              <div class="form-actions-request-player">
                    <% captain_team = Team.find_by(user: current_user) %>
                    <% if captain_team != nil %>
                      <% contract = Contract.all.where(team: captain_team).and(Contract.all.where(user: @player))%>
                      <% if contract.exists? %>
                        <% if contract[0].status %>
                          <%= link_to "Remove from team", team_membership_path(captain_team, contract[0]), method: :delete %>
                        <% else %>
                          <%= link_to "Cancel request", destroy_contract_path(@player.id, contract[0].id), method: :delete %>
                        <% end %>
                      <% else %>
                        <%= f.submit "Add player", class: 'submit-request-player mb-3' %>
                      <% end %>
                    <% end %>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
