<div class="simple-form-container">
  <div class="simple-forms">
    <%= simple_form_for(@match) do |f| %>
      <%= f.input :match_date %>
      <%= f.input :field_id, collection: @fields%>
      <%= f.input :description %>
      <%= f.input :minutes_duration %>
      <%= f.input :match_size %>
      <%= f.submit "Create match", class: 'submit-match' %>
    <% end %>
  </div>
</div>
