<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= favicon_link_tag %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <title>DirectLeague</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
    <% team = Team.find_by(user: current_user) %>
    <% contracts_recived = Contract.all.where.not(team: team).and(Contract.all.where(user: current_user)).and(Contract.all.where(status: false)).count %>
    <% if !team.nil? %>
     <% memberships_recived = Membership.all.where(team: team).and(Membership.all.where(status: false)).count %>
    <% else %>
      <% memberships_recived = 0 %>
      <% contracts_sent = 0 %>
    <% end %>
    <% notifications =  contracts_recived + memberships_recived%>
      <header class="p-3  header nav-bar sticky-top">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <%= image_tag "LogoDirectLeague.svg", class: "logo" %>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-li"><%= link_to 'Home', root_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Games', matches_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Teams', teams_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Players', all_players_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Create match', new_match_path, class: "nav-link px-2" %></li>
              <li class="nav-li nav-link px-2"><a href="/memberships/my_memberships" class="notification"> Notifications <p class="fas fa-bell"></p><span class="badge"><%= notifications %></span></a></li>
            </ul>

            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class= "username"><%= current_user.username %></span>
              </a>
              <ul class="dropdown-menu text-small drop-list" aria-labelledby="dropdownUser1">
                <% team = Team.find_by(user: current_user) %>
                <% if team != nil %>
                  <li><%= link_to "#{ Team.find_by(user_id: current_user).team_name }", team_path(Team.find_by(user_id: current_user).id), class: "dropdown-item drop-element" %></li>
                  <li><hr class="dropdown-divider"></li>
                <% end %>
                <li><%= link_to 'My games', my_matches_path, class: "dropdown-item drop-element" %></li>
                <li><%= link_to 'My teams', my_teams_path, class: "dropdown-item drop-element" %></li>
                <li><%= link_to 'My challenge requests', my_requests_path, class: "dropdown-item drop-element" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: "dropdown-item drop-element" %></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    <% else %>
      <header class="p-3  nav-bar sticky-top">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <%= image_tag "LogoDirectLeague.svg", class: "logo" %>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="nav-li"><%= link_to 'Home', root_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Games', matches_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Teams', teams_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Players', all_players_path, class: "nav-link px-2" %></li>
              <li class="nav-li"><%= link_to 'Create match', new_user_session_path, class: "nav-link px-2" %></li>
            </ul>

            <div>
              <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-ghost", id:"sign-up" %>
              <%= link_to 'Log in', new_user_session_path, class: "btn btn-ghost", id:"log-in" %>
            </div>
          </div>
        </div>
      </header>
    <% end %>

    <%= yield %>

    <div class="footer">
      <div class="newsletters">
        <h5>Don't miss the games near you.</h5>
        <p>We'll send you weekly news about events and games.</p>
        <div class="newsletters-form">
          <form>
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <br>
            <div id="subscribe-btn">
              <button class="btn btn-ghost" type="button" id="subscribe">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <footer class="py-3 my-2">
        <ul class="nav justify-content-center pb-2 mb-1">
          <li class="nav-item"><%=link_to "Home", root_path, class: "nav-link px-2 text-muted"%></li>
          <li class="nav-item"><%=link_to "Find game", matches_path, class: "nav-link px-2 text-muted"%></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-1 border-top">
          <p>© 2022 Direct-League, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="footer-li"><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li class="footer-li"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="footer-li"><a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="footer-li"><p>Life is better with a ball on the court.</p></li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
  </body>
</html>
